In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import libs.ngl as ngl
import datetime
from numba import njit
from numba.typed import Dict
from sklearn.metrics.pairwise import haversine_distances

In [7]:
def load_hauksson():
    column_names = ["year","month","day", "hour", "minut", 'sec', "id",
                    "lat","lon", "depth", "mag", "nPhases", "azGap", "nearDist", "hErr", "vErr", "residual", "flag1", "flag2"]
    df = pd.read_csv("catalogs/sc_1981_2022q1_1d_3d_gc_soda.gc", sep="\s+", usecols=range(0,11), header=None,names=column_names[:11])
    df['time'] = pd.to_datetime(dict(year=df.year, month=df.month, day=df.day, hours=df.hour, minutes=df.minut, seconds=df.sec))
    return df

In [8]:
# grab GPS stations list
station_list = ngl.ngl_process_list(ngl.ngl_24h_2w) # daily measurements, with 2 weeks delay

In [9]:
# fill a dictionary with all the stations coordinates inside the region box
region_limits = [29.0, 37.0, -123.0, -112.0 ]
station_names, station_lats, station_lons  = ngl.get_all_stations_box(station_list, *region_limits)

In [10]:
df = load_hauksson()
df.head(5)

,year,month,day,hour,minut,sec,id,lat,lon,depth,mag,time
0,1981,1,1,1,49,29.357,3301561,33.73166,-118.81097,6.399,2.27,1981-01-01 01:49:29.357
1,1981,1,1,4,13,55.936,3301565,33.25355,-115.96716,6.347,2.26,1981-01-01 04:13:55.936
2,1981,1,1,5,20,14.634,3301566,34.18175,-117.30450,5.864,2.37,1981-01-01 05:20:14.634
3,1981,1,1,5,39,56.616,3301567,34.18031,-117.30303,5.991,1.60,1981-01-01 05:39:56.616
4,1981,1,1,8,23,18.236,3301570,34.00782,-117.16284,15.468,1.88,1981-01-01 08:23:18.236

In [12]:
# either download or load, depending whether they are on disk or not
rootpath = "csv_24/"
station_data = {}
for s_cnt, s_name in enumerate(station_names):
    df, status = ngl.ngl_retrieve_24h(rootpath, s_name)
    print(s_name, status)
    station_data[s_name] = df

59WE downloaded
5PTS downloaded
7ODM downloaded
ACES downloaded
ACSB downloaded
ACSX downloaded
AERO downloaded
AGMT downloaded
AGUA downloaded
AIAH downloaded
AISD downloaded
ALPP downloaded
ALTH downloaded
ANA1 downloaded
AOA1 downloaded
APEX downloaded
AQUA downloaded
AR27 downloaded